<section data-markdown="docs/slides/01-bTree.md"                        data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/02-hash-index.md"                                    data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/03-GiST.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/04-SP-GiST.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/05-GIN.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/06-BRIN.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/07-FuncIndexes.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>
<section data-markdown="docs/slides/08-PartialIndexes.md"  data-separator-vertical="^\r?\n\r?\n\r?\n"></section>